<footer class="bg-primary text-white text-center text-lg-start"   >
  <!-- Grid container -->
  <div class="container p-4" style="padding:3px!important;">
    <!--Grid row-->
    <div class="row" style="margin: auto!important;  vertical-align: middle!important;   justify-content: center;">
      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0" style="margin:1px!important; padding:0%!important">
        <h5 class="text-uppercase" style="color:Black;font-size:13px">ΚΕΝΤΡΚΑ ΓΡΑΦΕΙΑ</h5>

        <p style="font-size: 10px; text-align:relative; margin-right:0px;">
          Βιομηχανικό Πάρκο Μαρκόπουλου
          <br>
          Μεσογαία Αττικής, θέση Ντοροβατέζα
          <br>
          Τ.Κ. 19003, Ελλάδα
          <br>
          Τηλ: +30 22990 82801
          <br>
          Φαξ: +30 22990 40977
          <br>
          E-mail:
          <a href="mailto:central@helesi.com" style="font-size: 11px;">central@helesi.com</a>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 "style="margin:1px!important; padding:0%!important">
        <h5 class="text-uppercase" style="color:Black;font-size:13px">Οδηγίες</h5>

        <ul class="list-unstyled mb-0">
          <li><a style="font-size: 10px;" class="text-muted" href="" target="_blank">Είσοδος Διαχειριστή</a></li>
          <li><a style="font-size: 10px;" class="text-muted" href="" target="_blank">Είσοδος Χρήστη</a></li>
          <li><a style="font-size: 10px;" class="text-muted" href="" target="_blank">Έκδοση Αναφοράς Σταθμών</a></li>
          <li><a style="font-size: 10px;" class="text-muted" href="" target="_blank">Έκδοση Αναφοράς Διαδρομών</a></li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0"style="margin:1px!important; padding:0%!important">
        <ul class="list-unstyled">
          <li><a style="font-size: 10px; " class="text-muted" href="#"></a></li>
          <li><a style="font-size: 12px;" class="text-muted" href="#">Σχετικά</a></li>
          <li><a style="font-size: 10px;" class="text-muted" href="#">Απόρρητο και Όροι Χρήσης</a></li>
          <li><a style="font-size: 9px;" class="text-muted">ΆΡΑΤΟΣ NΤΟΤ ΝΕΤ&copy;2020</a></li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->
</footer>