<div class="background-color mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      
      <p class="lead" style="font-size: 19px; font-weight: bold; color: aliceblue;">Welcome to the <br>waste management platform </p>      
    </div>
    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; border-radius: 21px 21px 21px 21px;">
        <br>
        <h2 class="display-5" style="font-size:2rem; color: aliceblue; font-weight: bold;" >Info</h2>
        <br>
        <ul class="lead" style="color: aliceblue;">
            <li><a style="color:aliceblue; font-size:1.4rem;"  href="" target="_blank">User Manual</a></li>
            <li><a style="color:aliceblue; font-size:1.4rem; " href="" target="_blank">FAQ</a></li>
        </ul>
        <br>
    </div>
</div>