<nav class="site-header py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between"style="margin-top: 0px;">
      <a href="/">
        <img src="/images/icons/helesi.png" width="140" height="60" >
      </a>
      <br>
      <a class="py-2  d-md-inline-block" style="font-size: 30px; font-weight: bold; margin-right: 151px;">Waste Management Platform</a>
      <!-- <a class="py-2  d-md-inline-block" href="/">Αρχική Σελίδα</a>
      <a class="py-2  d-md-inline-block" href="/loginAdmin">Είσοδος Διαχειριστή</a>
      <a class="py-2  d-md-inline-block" href="/loginUser">Είσοδος Χρήστη</a>
      <a class="py-2  d-md-inline-block" href="/check"> Έλεγχος Εγκυρότητας</a>-->
      <!-- <a class="py-2 d-none d-md-inline-block"></a>
      <a class="py-2 d-none d-md-inline-block"></a>
      <a class="py-2 d-none d-md-inline-block"> </a> --> 
      <br>
      <br>
      <a href="https://www.aratos.net/" target="blank" >
        <img src="/images/icons/net.png" class="center-icon" width="60" height="30" >
      </a>
        
    </div>
    
</nav>
