<!DOCTYPE html>
<html lang="de">
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
 <meta charset="utf-8"/>
 <meta name="Generator" content="Xara HTML filter v.9.6.2.48"/>
 <meta name="XAR Files" content="images/xr_files.txt"/>
 <title>admin</title>
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <link rel="stylesheet" href="images/xr_fonts.css"/>
 <script><!--
 if(navigator.userAgent.indexOf('MSIE')!=-1 || navigator.userAgent.indexOf('Trident')!=-1){ document.write('<link rel="stylesheet" href="images/xr_fontsie.css"/>');} 
--></script>
 <script>document.documentElement.className="xr_bgh2";</script>
 <link rel="stylesheet" href="images/xr_main.css"/>
 <link rel="stylesheet" href="images/custom_styles.css"/>
 <link rel="stylesheet" href="images/xr_text.css"/>
 <script src="images/roe.js"></script>
 <script src="images/prs4.js"></script>
 <link rel="stylesheet" href="images/xr_all.css" id="xr_mvcss"/>
 <!--[if lt IE 9]><link rel="stylesheet" href="index_htm_files/xr_ie.css"/><![endif]-->
 <script> var xr_multivar=1;xr_ios_ini2();</script>
 <script src="images/jquery.js"></script>
 <link rel="stylesheet" href="images/ani.css"/>
 <style>
  @media screen and (min-width: 800px) {#xr_xr {top:0px;}}
  @media screen and (max-width: 799px) {#xr_xr {top:0px;}}
 </style>
</head>
<body class="xr_bgb2">
<div class="xr_ap" id="xr_xrii"  style="width: 100%; height: 100%; min-width: 1120px; min-height: 760px; top:0%; left:0%; overflow:hidden;">
<div class="xr_ap" id="xr_bph" style="width: 100%; height: 100%; left: 0px; top: 0px; overflow: hidden;">
<div class="xr_ar xr_mvp_4 xr_mvpo " style="width: 100%; height: 100%;">
<div class="xr_pbd">
</div>
</div>
</div>
<!--[if gte IE 9]><!-->
<div id="xr_xr" class="xr_noc" style="position:relative; text-align:left; margin:0 auto;" onmousedown="xr_mm(event);">
<!--<![endif]-->
<!--[if lt IE 9]>
<div class="xr_ap" id="xr_xr" style="width: 1120px; height: 760px; left:50%; margin-left: -560px; text-align: left; top:0px;">
<![endif]-->
 <script>var xr_xr=document.getElementById("xr_xr");xr_rxc();</script>
<div id="xr_td" class="xr_td">
<div id="xr_mvp_3" class="xr_mvp_3 xr_bgn_2_0_0" style="position:absolute; width:1120px; height:760px;">
<div class="xr_ap xr_pp">
 <span class="xr_ar" style="left:0px;top:0px;width:1120px;height:760px; background-color: #FFFFFF;"></span>
</div>
<div id="xr_xrc3" class="xr_ap xr_xri_ xr_xrc" style="width: 1120px; height: 760px; overflow:hidden;">
<div class="xr_group">
  <a href="/">
 <img class="xr_rn_ xr_ap" src="images/103.jpg" alt="" title="" style="left:18px;top:10px;width:234px;height:70px;"/>
</a>
</div>
 <div class="xr_txt Heading_1 Heading_2 xr_s6" style="position: absolute; left:560px; top:252px; width:245px; height:10px;">
  <h3 class="xr_tc Heading_1 Heading_2 xr_s6" style="left: -136.96px; top: -25.65px; width: 274px;margin:0;">Administrator Login</h3>
 </div>
 <div class="xr_txt Heading_1 Heading_3 xr_s7" style="position: absolute; left:1059px; top:49px; width:63px; height:10px;">
  <h3 class="xr_tr Heading_1 Heading_3 xr_s7" style="left: -69.82px; top: -12.83px; width: 70px;margin:0;"><a href="/" style="text-decoration: none;" target="_self" onclick="return(xr_nn());" onmousemove="xr_mo(this,12)" ><span class="Heading_1 Heading_3 xr_s7" style="font-size: 20px;">Return</span></a></h3>
 </div>
<div class="xr_noreset " style="position: absolute; left:0px;top:330px;width:1120px;height:425px; overflow: hidden;">
<span style="display:flex; justify-content:center; width:100%; padding:0;">

<form id="find">

  <label class="Heading_3" style="font-size: 15px;font-weight: 600;" for="name">User: &emsp;</label>
  <input type="text" name="username" id="name" style="width:175px" required>

  <br>
  <br>

  <label class="Heading_3" style="font-size: 15px;font-weight: 600;" for="pwd">Pass: &emsp;</label>
  <input type="password" name="password" id="pwd" style="width:175px" required>

  <br>
  <br>
  <br>
  
  <input class="Heading_3" style="font-size: 15px;font-weight: 500;" id="findAdmin" type="submit" align="center" value="Submit" ></input>

</form> 

</span>
</div>
 <div class="xr_trigo_xr_ce6" style="position:absolute;left:333px;top:738px;width:229px;height:14px;z-index:-1;"></div>
 <div class="xr_ap xr_ac" id="xr_xpxr_231" style="left:0; top:0; visibility: hidden; display: none;">
 <div class="xr_txt Normal_text Heading_4 xr_s2" style="position: absolute; left:333px; top:738px; width:229px; height:10px;">
  <span class="xr_tc Normal_text Heading_4 xr_s2" style="left: 100.32px; top: -14.96px; width: 256px;"><a href="https://aratos.net" style="text-decoration: none;" target="_blank" onclick="return(xr_nn());" onmousemove="xr_mo(this,12)" ><span class="Normal_text Heading_4 xr_s2" >Copyright © Aratos.net 2020-2021</span></a></span>
 </div>
 </div>
 <div id="xr_xo12" class="xr_ap" style="left:0; top:0; width:1120px; height:100px; visibility:hidden; z-index:3;">
 <a href="" onclick="return(false);" onmousedown="xr_ppir(this);">
 </a>
 </div>
 <div id="xr_xd12"></div>
</div>
</div>
<div id="xr_mvp_4" class="xr_mvp_4 xr_bgn_3_0_0 xr_mvpo" style="position:absolute; width:480px; height:640px;">
<div class="xr_ap xr_pp">
 <span class="xr_ar" style="left:0px;top:0px;width:480px;height:640px; background-color: #FFFFFF;"></span>
</div>
<div id="xr_xrc4" class="xr_ap xr_xri_ xr_xrc" style="width: 480px; height: 640px; overflow:hidden;">
<div class="xr_group">
  <a href="/">
 <img class="xr_rn_ xr_ap" src="images/103.jpg" alt="" title="" style="left:18px;top:10px;width:234px;height:70px;"/>
</a>
</div>
 <div class="xr_txt Heading_1 Heading_2 xr_s6" style="position: absolute; left:240px; top:194px; width:245px; height:10px;">
  <h3 class="xr_tc Heading_1 Heading_2 xr_s6" style="left: -136.96px; top: -25.65px; width: 274px;margin:0;">Είσοδος Διαχειριστή</h3>
 </div>
 <div class="xr_txt Heading_1 Heading_3 xr_s7" style="position: absolute; left:453px; top:55px; width:63px; height:10px;">
  <h3 class="xr_tr Heading_1 Heading_3 xr_s7" style="left: -69.82px; top: -12.83px; width: 70px;margin:0;"><a href="/" target="_self" onclick="return(xr_nn());" onmousemove="xr_mo(this,18)" ><span class="Heading_1 Heading_3 xr_s7" style="">Return</span></a></h3>
 </div>
<div class="xr_noreset " style="position: absolute; left:0px;top:280px;width:480px;height:290px; overflow: hidden;">
<span style="display:flex; justify-content:center; width:100%; padding:0;">

  <form  id="find">

    <label for="name">User: &emsp;</label>
    <input class="forminput" type="text" name="username" id="name" style="width:175px" required>
  
    <br>
    <br>
  
    <label for="pwd">Password: &emsp;</label>
    <input class="forminput" type="password" name="password" id="pwd" style="width:175px" required>
  
    <br>
    <br>
    <br>
    
    <input id="findAdmin" type="submit" align="center" value="Σύνδεση" > 
  
  </form> 

</span>
</div>
 <div class="xr_trigo_xr_ce7" style="position:absolute;left:13px;top:617px;width:229px;height:14px;z-index:-1;"></div>
 <div class="xr_ap xr_ac" id="xr_xpxr_242" style="left:0; top:0; visibility: hidden; display: none;">
 <div class="xr_txt Normal_text Heading_4 xr_s2" style="position: absolute; left:13px; top:617px; width:229px; height:10px;">
  <span class="xr_tc Normal_text Heading_4 xr_s2" style="left: 100.32px; top: -14.96px; width: 256px;"><a href="https://aratos.net" target="_blank" onclick="return(xr_nn());" onmousemove="xr_mo(this,18)" ><span class="Normal_text Heading_4 xr_s2" style="">Copyright © Aratos.net 2020-2021</span></a></span>
 </div>
 </div>
 <div id="xr_xo18" class="xr_ap" style="left:0; top:0; width:480px; height:100px; visibility:hidden; z-index:3;">
 <a href="" onclick="return(false);" onmousedown="xr_ppir(this);">
 </a>
 </div>
 <div id="xr_xd18"></div>
</div>
</div>
</div>
</div>
</div >
<!--[if lt IE 7]><script src="index_htm_files/png.js"></script><![endif]-->
<!--[if IE]><script>xr_aeh()</script><![endif]--><!--[if !IE]>--><script>xr_htm();repMobFonts();window.addEventListener('load', xr_aeh, false);</script><!--<![endif]-->
</body>
<script type="text/javascript">
  //Verify admins credentials
  // $( "#findAdmin" ).click(function(e) {
  // 	e.preventDefault;
  // 	id = document.getElementById('pwd').value;
  // 	name = document.getElementById('name').value;
  // 	if (id=="" && document.getElementById('name').value==""){
      
  // 	}else if (id!=="" && document.getElementById('name').value ==="admin"){
  // 			find(id);
  // 			return false;
  // 	}else{
    
  // 		window.alert("Λάθος Στοιχεία Εισόδουd");
  // 		return false;
  // 	}			
  // 		});
  
  //Find admin in wallet and verify his credentials
  $( "#findAdmin" ).click(function(e) {
    var credentials = $("#find").serialize();
    //console.log('/api/users/');
    $.ajax({
        url: '/api/users/findAdmin', 
        type: "POST", 
        data: credentials,
        dataType: 'json',
        success: function (result) {
          //console.log(result);
          if (result === true){
            // sessionStorage.setItem("tokenAdmin", result.tokenAdmin)
            //conslole.log("eee");
  
            //store Admin's login 
            window.location.href = "/adminMenu";
            //var button = document.getElementById('createUser').click();
          
            
          }else if(result === false){
            // sessionStorage.setItem('name',name,'pwd', id);
            // //console.log(sessionStorage);
            window.alert("Wrong credentials");
          }
              
        },
        error:function(result){
          conslole.log("error");				
        }
      }); 
      return false;
  })
  
  
  
    </script>
</html>