<!DOCTYPE html>
<html lang="de">
<head>
 <meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
 <meta charset="utf-8"/>
 <meta name="Generator" content="Xara HTML filter v.9.6.2.48"/>
 <meta name="XAR Files" content="images/xr_files.txt"/>
 <title>index</title>
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <link rel="stylesheet" href="images/xr_fonts.css"/>
 <script>
 if(navigator.userAgent.indexOf('MSIE')!=-1 || navigator.userAgent.indexOf('Trident')!=-1){ document.write('<link rel="stylesheet" href="images/xr_fontsie.css"/>');} 
</script>
 <script>document.documentElement.className="xr_bgh0";</script>
 <link rel="stylesheet" href="images/xr_main.css"/>
 <link rel="stylesheet" href="images/custom_styles.css"/>
 <link rel="stylesheet" href="images/xr_text.css"/>
 <script src="images/roe.js"></script>
 <script src="images/prs4.js"></script>
 <link rel="stylesheet" href="images/xr_all.css" id="xr_mvcss"/>
 <!--[if lt IE 9]><link rel="stylesheet" href="index_htm_files/xr_ie.css"/><![endif]-->
 <script> var xr_multivar=1;xr_ios_ini2();</script>
 <script src="images/jquery.js"></script>
 <link rel="stylesheet" href="images/ani.css"/>
 <style>
  @media screen and (min-width: 800px) {#xr_xr {top:0px;}}
  @media screen and (max-width: 799px) {#xr_xr {top:0px;}}

  .link-class{
    text-decoration: none;
  }
  .link-class:hover{
    color: #000000 ;
  }
  
 </style>
</head>
<body class="xr_bgb0">
<div class="xr_ap" id="xr_xrii"  style="width: 100%; height: 100%; min-width: 1120px; min-height: 883px; top:0%; left:0%; overflow:hidden;">
<div class="xr_ap" id="xr_bph" style="width: 100%; height: 100%; left: 0px; top: 0px; overflow: hidden;">
<div class="xr_ar xr_mvp_2 xr_mvpo " style="width: 100%; height: 100%;">
<div class="xr_pbd">
</div>
</div>
</div>
<!--[if gte IE 9]><!-->
<div id="xr_xr" class="xr_noc" style="position:relative; text-align:left; margin:0 auto;" onmousedown="xr_mm(event);">
<!--<![endif]-->
<!--[if lt IE 9]>
<div class="xr_ap" id="xr_xr" style="width: 1120px; height: 883px; left:50%; margin-left: -560px; text-align: left; top:0px;">
<![endif]-->
 <script>var xr_xr=document.getElementById("xr_xr");xr_rxc();</script>
<div id="xr_td" class="xr_td">
<div id="xr_mvp_1" class="xr_mvp_1 xr_bgn_0_0_0" style="position:absolute; width:1120px; height:883px;">
<div class="xr_ap xr_pp">
 <span class="xr_ar" style="left:0px;top:0px;width:1120px;height:883px; background-color: #FFFFFF;"></span>
</div>
<div id="xr_xrc1" class="xr_ap xr_xri_ xr_xrc" style="width: 1120px; height: 883px; overflow:hidden;">
 <img class="xr_rn_images/82@2x.jpg xr_ap" id="photoreplaced" src="images/87.jpg" alt="" title="" style="left:0px;top:80px;width:800px;height:404px;"/>
 <div class="xr_trigo_xr_ce0" style="position:absolute;left:61px;top:595px;width:249px;height:186px;z-index:-1;"></div>
 <div class="xr_ap xr_ac" id="xr_xpxr_2" style="left:0; top:0; visibility: hidden; display: none;">
 <div class="xr_txt Normal_text xr_s0" style="position: absolute; left:61px; top:595px; width:249px; height:10px;">
  <span class="xr_tl Normal_text xr_s1" style="top: 6.01px;"><span id="Philosophy"></span>Main Offices</span>
  <span class="xr_tl Normal_text xr_s2" style="top: 53.94px;">Address</span>
  <span class="xr_tl Normal_text xr_s3" style="top: 74.91px;">POC</span>
  <span class="xr_tl Normal_text xr_s3" style="top: 95.88px;">City</span>
  <span class="xr_tl Normal_text xr_s3" style="top: 116.85px;">Country</span>
  <span class="xr_tl Normal_text xr_s3" style="top: 137.82px;">Tel</span>
  <span class="xr_tl Normal_text xr_s3" style="top: 158.79px;">E-mail: <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#101;&#110;&#116;&#114;&#97;&#108;&#64;&#104;&#101;&#108;&#101;&#115;&#105;&#46;&#99;&#111;&#109;" onclick="return(xr_nn());" onmousemove="xr_mo(this,0)" >central&#64;helesi.com</a></span>
  <span class="xr_tl Normal_text xr_s3" style="top: 179.76px;"><a href="https://gr.helesi.com/">Web:www.yourcompany.com</a></span>
 </div>
 </div>
 <span class="xr_ar" style="left:0px;top:484px;width:1120px;height:86px; background-color: #F68E00;"></span>
 <div class="xr_trigo_xr_ce1" style="position:absolute;left:60px;top:534px;width:692px;height:21px;z-index:-1;"></div>
 <div class="xr_ap xr_ac" id="xr_xpxr_95" style="left:0; top:0; visibility: hidden; display: none;">
 <div class="xr_txt Heading_1 Heading_3 xr_s4" style="position: absolute; left:60px; top:534px; width:692px; height:10px;">
  <h3 class="xr_tl Heading_1 Heading_3 xr_s4" style="top: -23.93px;margin:0;">Waste Management Platform  </h3>
 </div>
 </div>
<div class="xr_group">
  <a href='http://95.216.162.109:443'>
    <img class="xr_rn_ xr_ap" src="images/103.jpg" alt="" title="" style="left:18px;top:10px;width:234px;height:70px;"/>
  </a>
 
</div>
<div class="xr_noreset " style="position: absolute; left:830px;top:207px;width:276px;height:134px; overflow: hidden;">
<form id= "find" >

  <label class="Heading_3" style="font-size: 15px;font-weight: 600;" for="name">User: &emsp;</label>
  <input type="text" id="username" name="username" style="width:175px" required>

  <br>
  <br>

  <label class="Heading_3" style="font-size: 15px;font-weight: 600;" for="pwd">Pass: &emsp;</label>
  <input type="password" id="password" name="password" style="width:175px" required>

  <br>
  <br>

  <!-- change from input to button -->
  <input id="findUser" class="Heading_3" style="font-size: 15px;font-weight: 500;" type="submit" value="Submit"></input>  

</form> 
</div>
<div class="xr_group">
<div id="rounded_square" style="position:absolute; left:370px; top:590px"></div>
 <img class="xr_rn_ xr_ap" src="images/101.jpg" alt="" title="" style="left:370px;top:590px;width:750px;height:221px;"/>
</div>
 <div class="xr_txt Heading_1 Heading_3 xr_s5" style="position: absolute; left:911px; top:400px; width:107px; height:10px;">
  <h3 class="xr_tl Heading_1 Heading_3 xr_s5" style="top: -12.83px;margin:0;margin-top:30%"><a href="images/Helesi_Manual.pdf" class="link-class" target="_blank" onclick="return(xr_nn());" onmousemove="xr_mo(this,0)" >Manual</a></h3>
 </div>

 <div class="xr_txt Heading_1 Heading_2 xr_s6" style="position: absolute; left:968px; top:154px; width:189px; height:10px;">
  <h3 class="xr_tc Heading_1 Heading_2 xr_s6" style="left: -105.94px; top: -25.65px; width: 212px;margin:0;">User Login</h3>
 </div>

<div class="xr_group">
 <span class="xr_ar" style="left:0px;top:832px;width:1120px;height:50px; background-color: #F68E00;"></span>
</div>
 <div class="xr_trigo_xr_ce2" style="position:absolute;left:333px;top:861px;width:229px;height:14px;z-index:-1;"></div>
 <div class="xr_ap xr_ac" id="xr_xpxr_106" style="left:0; top:0; visibility: hidden; display: none;">
 <div class="xr_txt Normal_text Heading_4 xr_s8" style="position: absolute; left:333px; top:861px; width:229px; height:10px;">
  <span class="xr_tc Normal_text Heading_4 xr_s8" style="left: 100.32px; top: -14.96px; width: 256px;"><a href="https://aratos.net" target="_blank" onclick="return(xr_nn());" onmousemove="xr_mo(this,0)" ><span class="Normal_text Heading_4 xr_s8" >Copyright © Aratos.net 2020-2021</span></a></span>
 </div>
 </div>
<div class="xr_group">
 <img class="xr_rn_ xr_ap" src="images/97.jpg" alt="" title="" style="left:18px;top:843px;width:70px;height:29px;"/>
</div>
 <div id="xr_xo0" class="xr_ap" style="left:0; top:0; width:1120px; height:100px; visibility:hidden; z-index:3;">
 <a href="" onclick="return(false);" onmousedown="xr_ppir(this);">
 </a>
 </div>
 <div id="xr_xd0"></div>
</div>
</div>
<div id="xr_mvp_2" class="xr_mvp_2 xr_bgn_1_0_0 xr_mvpo" style="position:absolute; width:480px; height:1111px;">
<div class="xr_ap xr_pp">
 <span class="xr_ar" style="left:0px;top:0px;width:480px;height:1111px; background-color: #FFFFFF;"></span>
</div>
<div id="xr_xrc2" class="xr_ap xr_xri_ xr_xrc" style="width: 480px; height: 1111px; overflow:hidden;">
 <img class="xr_rn_ xr_ap" id="Xxr_v2_photoreplaced" src="images/174.jpg" alt="" title="" style="left:0px;top:80px;width:480px;height:175px;"/>
 <div class="xr_trigo_xr_ce3" style="position:absolute;left:74px;top:833px;width:248px;height:186px;z-index:-1;"></div>
 <div class="xr_ap xr_ac" id="xr_xpxr_117" style="left:0; top:0; visibility: hidden; display: none;">
 <div class="xr_txt Normal_text xr_s0" style="position: absolute; left:74px; top:833px; width:248px; height:10px;">
  <span class="xr_tc Normal_text xr_s1" style="left: 71.79px; top: 6.01px; width: 187px;"><span id="Xxr_v2_Philosophy"></span>Central offices</span>
  <span class="xr_tc Normal_text xr_s2" style="left: 30.45px; top: 53.94px; width: 270px;">Address</span>
  <span class="xr_tc Normal_text xr_s3" style="left: 28.2px; top: 74.91px; width: 274px;">City</span>
  <span class="xr_tc Normal_text xr_s3" style="left: 98.41px; top: 95.88px; width: 134px;">Town</span>
  <span class="xr_tc Normal_text xr_s3" style="left: 87.23px; top: 116.85px; width: 156px;">Tel</span>
  <span class="xr_tc Normal_text xr_s3" style="left: 85.44px; top: 137.82px; width: 160px;">Fax</span>
  <span class="xr_tc Normal_text xr_s3" style="left: 69.05px; top: 158.79px; width: 192px;">E-mail: <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#101;&#110;&#116;&#114;&#97;&#108;&#64;&#104;&#101;&#108;&#101;&#115;&#105;&#46;&#99;&#111;&#109;" onclick="return(xr_nn());" onmousemove="xr_mo(this,6)" >central&#64;helesi.com</a></span>
  <span class="xr_tc Normal_text xr_s3" style="left: 97.3px; top: 179.76px; width: 136px;"><a href="https://gr.helesi.com/">Web: www.yourcompany.com</a></span>
</div>
 </div>
 <span class="xr_ar" style="left:0px;top:255px;width:480px;height:67px; background-color: #F68E00;"></span>
 <div class="xr_trigo_xr_ce4" style="position:absolute;left:8px;top:294px;width:445px;height:13px;z-index:-1;"></div>
 <div class="xr_ap xr_ac" id="xr_xpxr_209" style="left:0; top:0; visibility: hidden; display: none;">
 <div class="xr_txt Heading_1 Heading_3 xr_s11" style="position: absolute; left:8px; top:294px; width:445px; height:10px;">
  <h3 class="xr_tc Heading_1 Heading_3 xr_s11" style="left: -13.34px; top: -19.24px; width: 493px;margin:0;">Waste Management Platform</h3>
 </div>
 </div>
<div class="xr_group">
 <img class="xr_rn_ xr_ap" src="images/103.jpg" alt="" title="" style="left:18px;top:10px;width:234px;height:70px;"/>
</div>
<div class="xr_noreset " style="position: absolute; left:97px;top:446px;width:276px;height:130px; overflow: hidden;">
  <form id= "find" >

    <label for="username">Username: &emsp;</label>
    <input class="forminput" type="text" id="username" name="username" style="width:175px" required>
  
    <br>
    <br>
  
    <label for="password">Password: &emsp;</label>
    <input class="forminput" type="password" id="password" name="password" style="width:175px" required>
  
    <br>
    <br>
    <br>
    
    <!-- change from input to button -->
  <button id="findUser" type="submit" value="Σύνδεση">Login</button> 
  
  </form> 
</div>
<div class="xr_group">
<div id="Xxr_v2_rounded_square" style="position:absolute; left:15px; top:694px"></div>
 <img class="xr_rn_ xr_ap" src="images/176.jpg" alt="" title="" style="left:15px;top:694px;width:450px;height:133px;"/>
</div>
 <div class="xr_txt Heading_1 Heading_3 xr_s5" style="position: absolute; left:178px; top:600px; width:107px; height:10px;">
  <h3 class="xr_tl Heading_1 Heading_3 xr_s5" style="top: -12.83px;margin:0;margin-top:30%"><a href="images/Helesi_Manual.pdf" target="_blank" onclick="return(xr_nn());" onmousemove="xr_mo(this,6)" >Manual</a></h3>
 </div>
 <div class="xr_txt Heading_1 Heading_2 xr_s6" style="position: absolute; left:235px; top:393px; width:189px; height:10px;">
  <h3 class="xr_tc Heading_1 Heading_2 xr_s6" style="left: -105.94px; top: -25.65px; width: 212px;margin:0;">User Login</h3>
 </div>
<div class="xr_group">
 <span class="xr_ar" style="left:0px;top:1061px;width:480px;height:50px; background-color: #F68E00;"></span>
</div>
 <div class="xr_trigo_xr_ce5" style="position:absolute;left:-103px;top:1089px;width:229px;height:14px;z-index:-1;"></div>
 <div class="xr_ap xr_ac" id="xr_xpxr_220" style="left:0; top:0; visibility: hidden; display: none;">
 <div class="xr_txt Normal_text Heading_4 xr_s8" style="position: absolute; left:-103px; top:1089px; width:229px; height:10px;">
  <span class="xr_tc Normal_text Heading_4 xr_s8" style="left: 100.32px; top: -14.96px; width: 256px;"><a href="https://aratos.net"  target="_blank" onclick="return(xr_nn());" onmousemove="xr_mo(this,6)" ><span class="Normal_text Heading_4 xr_s8">Copyright © Aratos.net 2020-2021</span></a></span>
 </div>
 </div>
 <div id="xr_xo6" class="xr_ap" style="left:0; top:0; width:480px; height:100px; visibility:hidden; z-index:3;">
 <a href="" onclick="return(false);" onmousedown="xr_ppir(this);">
 </a>
 </div>
 <div id="xr_xd6"></div>
</div>
</div>
</div>
</div>
</div >
<!--[if lt IE 7]><script src="index_htm_files/png.js"></script><![endif]-->
<!--[if IE]><script>xr_aeh()</script><![endif]--><!--[if !IE]>--><script>xr_htm();repMobFonts();window.addEventListener('load', xr_aeh, false);</script><!--<![endif]-->
</body>
<script type="text/javascript">

  //On click call find function 
  $( "#findUser" ).click(function() {
    // checks if field is empty
    username = document.getElementById('username').value;
    password = document.getElementById('password').value;
    if (username=="" || password==""){
    }else{
      //console.log(id);
        find(username);
        return false;
    }			
      });
  //find if the user exists	
   function find(id){
    console.log("edw-eimaste-kainourgioi - einai mesa sto partials/mainApp.ejs");
    var credentials = $("#find").serialize();
    $.ajax({
            url: 'https:95.216.162.109/api/v1/login',
            data: credentials,
            type: "POST",
            dataType: 'json',
             success: function(result) {
				//console.log(result.prof)
				//console.log("result");
				if (result){
				console.log(result)
				if (result.success === true){
				

			 window.localStorage.setItem('token',JSON.stringify({"token": result.token}))

					console.log(window.localStorage)

					console.log(`this is the ui.token`+ localStorage.getItem('token'))
					var token = window.localStorage.getItem('token')
          const token2 = JSON.parse(token)
          console.log(token2)
          console.log(`EDW TO TOKEN: ${JSON.stringify(token2.token)}`)
          const lastToken = token2.token

// $.ajax({
//    url: "/usersMenu",
//    type: "GET",
//    beforeSend: function(xhr) {
//      xhr.setRequestHeader('Authorization', `${lastToken}`)
//      console.log(lastToken)
//    },
//   //  success: function(){
//   //     {
        
//   //       window.location.href = '/usersMenu'
        
//   //    }
//    //}
//  })
makeRequest('/api/v1/usersMenu','GET').then(res => res.text()).then(htmlStr => {
  document.open();
  document.write(htmlStr);
  document.close();
})
        
					
				}else if(result === false){
					window.alert("Wrong Credentials")
				}
			}else(window.location.href='/')
		},
			error:function(result){					
			}
		}); 
    
		return false;
}
   

function makeRequest( url, method ){
  var jwtToken = localStorage.getItem('token')
  var token = window.localStorage.getItem('token')
          const token2 = JSON.parse(token)
          console.log(token2)
          console.log(`EDW TO TOKEN: ${token2.token}`)
          const lastToken = token2.token
  var headers ={}
    if(lastToken) {
      headers['Authorization'] = lastToken
      console.log(method)
    }
    return fetch(url,{
      method: method,
      mode: 'cors',
      headers: headers
    })
}



    </script>
</html>