<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden"style=" height: 380px;">
      <div class="my-3 py-3">
        <h2 class="display-5" style="font-size:2.5rem; color: aliceblue;">User Login</h2>
        
      </div>
        <div class="background-color shadow-sm mx-auto" style="width: 80%; height: 267px; border-radius: 21px 21px 21px 21px;">

            <form id= "find" class="contact100-form validate-form">

                <div class="wrap-input100-admin  bg1" data-validate="Please Type Your Name">
                    <span class="label-input100">Name*</span>
                    <input class="input100" type="text" name="usernameUser" id="name" value="" required>
                </div>

                <div class="wrap-input100-admin bg1" data-validate="Please Type Your Password">
                    <span class="label-input100">
                        Password*
                    </span>
                    <input class="input100" type="password" name="pwdUser" id="pwd" value="" required >
                </div>

                <div class="container-contact100-form-btn">
                    <button class ="contact100-form-btn-login"id="findUser">
                        <span style="color: black;">
                            Login
                            
                        </span>
                    </button>
                    <a class ="contact100-form-btn-custom" id="loginUser"  href='/usersMenu' style="display: none">
                        <span>
                            
                        </span>
                    </a>
                    <a class ="contact100-form-btn-custom" id="loginUserDept"  href='/usersMenuDept' style="display: none">
                        <span>
                            
                        </span>
                    </a>
                </div>
            </form>
        </div>
    </div>