<!-- <!doctype html>
<html lang="en">
  <head>

    <% include ../partials/head %>
    
  </head>
  <body> -->
    <!-- <% include ../partials/navigationMenu %> -->
    
    <% include ../partials/admin %>
    <!-- <% include ../partials/info %>
</div> -->
<!-- 
<footer>
  <% include ../partials/footer %>
</footer>

</html> -->
