<!doctype html>
<html lang="en">
  <head>

    <% include ../partials/head %>
   
  </head>
  <body>
    <% include ../partials/navigationMenu %>
    <div class="container-contact100">
    <div class="wrap-contact100">
        <form id= "sign" class="contact100-form validate-form">
            <span class="contact100-form-title">Καταχώριση Στοιχείων Οφειλέτη</span>

                <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="Please Type Your Name">
                  <span class="label-input100">Όνομα*</span>
                  <input class="input100" type="text" name="owner_name" value="" id="owner_name">
                </div>

                <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="Please Type Your Name">
                  <span class="label-input100">Επώνυμο*</span>
                  <input class="input100" type="text" name="owner_surname" value="" id="owner_surname">
                </div>

                <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="Please Type Your Name">
                  <span class="label-input100">Όνομα Πατέρα*</span>
                  <input class="input100" type="text" name="father_name" value="" id="father_name">
                </div>

                <div class="wrap-input100 bg1 rs1-wrap-input100">
                  <span class="label-input100">Ημερομηνία Γέννησης</span >
                  <input class="input100" type="date" name="birth_date" id="birth_date">
                </div>
                
                <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="Please Type Your Name">
                  <span class="label-input100">Οδός*</span>
                  <input class="input100" type="text" name="address" value="" id="address">
                </div>

                <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="Please Type Your Name">
                  <span class="label-input100">Αριθμός*</span>
                  <input class="input100" type="number" name="address_num" value="" id="address_num">
                </div>

                <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate="Please Type Your Name">
                  <span class="label-input100">Α.Φ.Μ.*</span>
                  <input class="input100" type="text" name="afm" value="" id="afm">
                </div>

                 <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" >
                    <span class="label-input100">Οργανισμός Πιστοποίησης *</span>
                    <input class="input100" type="text" name="sig_org" value="" id="sig_org">
                </div>
    
                 <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" >
                    <span class="label-input100">Ταυτότητα Υπογράφοντα *</span>
                    <input class="input100" type="text" name="sig_id" id="sig_id">
                </div>
                <div class="container-contact100-form-btn-custom">
                    <button class ="contact100-form-btn parent_div" id="save">
                      <span>
                        Υποβολή
                        
                      </span>
                    </button>
                    <a class ="contact100-form-btn-custom" id="continue" href='/dept' style="display: none;">
                      <span>
                        Συνέχεια
                        <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true" ></i>
                      </span>
                    </a>
                </div>

                <div class="container-contact100-form-btn-back">
                  <a class ="contact100-form-btn-custom4 "id="back" href="/dept">
                  <span>
                     Επιστροφή
                     
                  </span>
                  </a>
              </div>

        </form>
    </div>
</div>
<script type="text/javascript">
 
var data;
//Block all actions in the page
var showProgress = function() {
    $.blockUI({css: { width: '16%',left:'42%' }, message: '<h1 style="font-size:20px;"><img src="/images/icons/load.gif " width="20" height="20"/> Παρακαλώ</h1> <h1 style="font-size:20px;">περιμένετε</h1>' });
};
//UnBlock all actions in the page
function unBlock() {
  $.unblockUI();
}
//On submit send ajax request to server
$(document).ready(function(){
	
  $("#sign").submit(function(){
    
  	$("#save").prop('disabled', true);
  	var sig_org = document.getElementById("sig_org").value;
  	var sig_id = document.getElementById("sig_id").value;
    var owner_name = document.getElementById("owner_name").value;
    var owner_surname = document.getElementById("owner_surname").value;
    var father_name = document.getElementById("father_name").value;
    var address = document.getElementById("address").value;
    var address_num = document.getElementById("address_num").value;
    var birth_date = document.getElementById("birth_date").value;
    var afm = document.getElementById("afm").value;

    if( owner_name !="" && owner_surname !="" && birth_date !=""&& father_name !="" && address !="" && address_num !="" 
    && afm !="" && sig_org !="" &&  sig_id !=""  ){
  	    var info = owner_name+owner_surname+afm;
  	    var encrypted = CryptoJS.SHA256(info).toString();
  	    showProgress();
        form =$("#sign").serialize();

        form1 ="&hash="+encrypted +"&owner_name="+owner_name+"&owner_surname="+owner_surname
        +"&father_name="+father_name+"&birth_date="+birth_date+"&address="+address+"&address_num="+address_num+"&afm="+afm+"&sig_org="+sig_org+"&sig_id="+sig_id;
        form.hash= encrypted;
        
  	    $.ajax({
  	    	url: '/api/users/clientDept', 
  	    	data: form1,
  	    	type: "POST", 
  	    	dataType: 'json',
        
  	    	success: function (e) {
            console.log(form1);
            if (e==true){
              unBlock();
              window.alert("Τα Στοιχεία του Οφειλέτη Υπάρχουν ήδη στο Σύστημα");
              //location.reload();
            }else {
              data = e;
  	    		  unBlock();
  	    		  ConfirmDialog('Επιτυχής Καταχώριση');
            }
  	    	},
  	    	error:function(e){
            unBlock();
  	    		window.alert("error");
  	    	}
        }); 
    }else{
      window.alert("Παρακαλώ Συμπληρώστε ότα τα Πεδία");
      location.reload();
      return false;
  	}
    //unBlock();
  	return false;
  });
});    

// Path in previous page
$( "#continue" ).click(function(){
			
			document.getElementById("sign").reset();
			//var dropdown = document.getElementById("option");
			//dropdown[0].value = "0";
			location.reload();
		});
		
		
		//================================================================================

// Opens dialog box to chose print or new entry
function ConfirmDialog(message) {
  $('<div></div>').appendTo('body')
    
    .dialog({
      modal: true,
      title: message,
      zIndex: 10000,
      autoOpen: true,
      width: 'auto',
      resizable: false,
      buttons: {
        'Εκτύπωση': function() {
         // $('body').append('<h1>Confirm Dialog Result: <i>Εκτύπωση</i></h1>');
		  // Get Arraybuffer from pdf and open pdf in new window
			var xhr = new XMLHttpRequest();
			id=data.id;
			var pdfsrc = '/api/users/doc/dept/'+id;
			xhr.open('GET', pdfsrc, true);
			xhr.responseType = "arraybuffer";

			xhr.addEventListener("load", function (evt) {
				var data = evt.target.response;
				
			if (this.status === 200) {
				const blob = new Blob([data], {type: 'application/pdf'});
				const blobURL = URL.createObjectURL(blob);
				window.open(blobURL)	
				var button = document.getElementById('continue').click();		      
			    }
			}, false);
		  
			xhr.send();
      $(this).dialog("close");
        },
          'Νέα Καταχώριση': function() {
         // $('body').append('<h1>Confirm Dialog Result: <i>Νέα_Καταχώριση</i></h1>');
		 
      document.getElementById("sign").reset();
			//var dropdown = document.getElementById("option");
			//dropdown[0].value = "0";
      location.reload();
      $(this).dialog("close");
        }
      },
      close: function(event, ui) {
        $(this).remove();
        
      }
    });
};
</script>

  </body>
  <footer>
    <% include ../partials/footer %>
  </footer>
</html>
  