<!doctype html>
<html lang="en">
  <head>

    <% include ../partials/head %>
    
  </head>
  <body>
    <% include ../partials/navigationMenu %>
    
    
    



    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="height: 380px;">
          <div class="my-3 py-3">
            <h2 class="display-5" style="font-size:1.5rem; color: aliceblue;">Είσαγωγή Δεδομένων από Βάση</h2>
            
          </div>
          <div class="background-color shadow-sm mx-auto" style="width: 80%; height: 267px; border-radius: 21px 21px 21px 21px;">
            <form id= "find" class="contact100-form validate-form" enctype="multipart/form-data">
    
                    <div class="container-contact100-form-btn-upload">
                        <input class ="contact100-form-btn-login "id="select" type="button" value="Επιλογή Αρχείου.." onclick="document.getElementById('selectedFile').click();" />                        
                        <input type="file" id="selectedFile" name="csv" style="display: none;"required/><br />
                        <p class="contact100-form-btn-uploadtext" id="fileName" style=" text-align: center;"> </p>
                    </div>
    
                    <div class="container-contact100-form-btn-upload2">
                        <button class ="contact100-form-btn-login2"id="upload2" type="button">
                            <span >
                                <input value="Φόρτωση" type="submit"style="background-color: transparent; color: aliceblue;"/>
                            </span>
                        </button>
                    </div>
    
            </form>
        </div>
    </div>
    <% include ../partials/info %>



    
    <script>
    
    //csv extension
//    file = pathFile.substr(pathFile.lastIndexOf('\\') + 1).split('.')[0]



    document.getElementById('selectedFile').onchange = function(){ 
        pathFile = document.getElementById('selectedFile').value;
        file = pathFile.substr(pathFile.lastIndexOf('\\') + 1).split(',');
        document.getElementById('fileName').innerHTML = file;
    
    }

    // $("#selectedFile").on('change', function(){
    //     var file = $(this).get(0).files; 
    //     const formData=new FormData();
    //     formData.append('selectedFile', file[0], file[0].name);
    //     console.log(file[0]);
    //     $.ajax({
    //     url         : 'api/users/CSVupload/id',
    //     processData : false,
    //     contentType : false, // <-- required
    //     data        : formData,
    //     type        : 'POST',
    //     success: function(data){
    //         console.log('upload');
    //     }
    //     });
    // })



    $("#find").submit(function(e){
        e.preventDefault();
        var data = new FormData();
        $.each($('#selectedFile')[0].files, function(i, file) {
        data.append('file-'+i, file);
    });
  
        //var fd = new FormData(document.getElementById('find'));
        //const files=event.target.files;
        // const formData=new FormData();
        // var file=document.getElementById('selectedFile').files[0];
        // formData.append('csv', file, file.name);
        // console.log(file.name);
        $.ajax({
        url         : 'api/users/CSVupload/id',
        processData : false,
        contentType : false, // <-- required
        data        : data,
        type        : 'POST',
        success: function(data){
            console.log('upload');
        }
        });
    });





    
    // $( "#upload" ).click(function() {
    
    // function xmlcheck(){
    //     var x = document.getElementById("XMLFile");
    // var txt = "";
    // if ('files' in x) {
    //   if (x.files.length == 0) {
    //     txt = "Select one or more files.";
    //   } else {
    //     for (var i = 0; i < x.files.length; i++) {
    //       txt += "<br><strong>" + (i+1) + ". file</strong><br>";
    //       var file = x.files[i];
    //       if ('name' in file) {
    //         txt += "name: " + file.name + "<br>";
    //       }
    //       if ('size' in file) {
    //         txt += "size: " + file.size + " bytes <br>";
    //       }
    //     }
    //   }
    // }
    // document.getElementById ("demo").innerHTML = txt; 
    // }
    
    // })
    </script>






</div>

<footer>
  <% include ../partials/footer %>
</footer>

</html>
