<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/navigationqr %>
	<div class="container-contact100">
		<div class="wrap-contact100">

<form id= "find" class="contact100-form validate-form">
				<span class="contact100-form-title">Search for document validity in the Database</span>
				<!--input id="onoma" type="text" name="text" value=""-->

				<div class="wrap-input100 validate-input bg1 rs1-wrap-input200" data-validate="Please Type Your Name">
					<span class="label-input100">Document Certification Blockchain Number*</span>
					<input class="input200" type="text" name="hash" value="" id="hash">
				</div>

				<!--Submit Button start-->

				<div class="container-contact100-form-btn-custom">
					<button class ="contact100-form-btn"id="findall">
						<span>
							Search
							 
						</span>
					</button>
				</div>
				
				<!--Submit Button end-->
            </form>
                
				<div id="show_table"style="overflow-x:auto; display: none; ">
					<br>
					<h2> Search Results</h2>
					<table id="table">
						<tr style="background-color: rgb(155, 161, 161);">
							<th>Date</th>
							<th>Hour (Time)</th>
							<th>Vehicle</th>
							<th>Driver</th>
							<th>Location</th>
							<th>Coordinates</th>
							<th>Weight (KG)</th>
							<th>Route</th>
							<th>Passage</th>
							<th>Type</th>					
							<th>Material</th>					
							<th>Quality Degree</th>
							
						</tr>
                	</table>
				</div>

                <div id="getResultDiv">
                   <ul class="list-group">
                   </ul>
                 </div>
        	</div>
        </div>



<!--===============================================================================================-->
  
    <script type="text/javascript">

    var url = window.location.search;
    if(url !==""){
        var hashURL = url.split("?")[1];
	    console.log(hashURL);
        document.getElementById('hash').value = hashURL;
        // function
        


    } else {

                    
            }
    // $(document).ready(function(){
                    // $("#find").submit(function(){
                        $( "#findall" ).click(function() {
                    
                    var hash = document.getElementById('hash').value;
                
                    if(hash !=""){
                            
                        $.ajax({
                                url: '/api/users/check/'+hash, 
                                type: "GET", 
                                dataType: 'json',
                                success: function (result) {
                                    if (result!=false){
                                        // window.alert("success");
                                        $('#table tr').not(':first').remove();
                                        $('#table ul').empty();
                                        document.getElementById("show_table").style.display="block";
                                        //document.getElementById("print").style.display="block";
                                        //$.each(result, function(i, user){
                                        
                                        for(var i=1; i<$(result).length+1; i++){
											var row = table.insertRow(i);
											var date = row.insertCell(0);
											date.innerHTML = result[i-1].date;
											var time = row.insertCell(1);
											time.innerHTML = result[i-1].time;
											var vechicle = row.insertCell(2);
											vechicle.innerHTML = result[i-1].vechicle;
											var driver = row.insertCell(3);
											driver.innerHTML = result[i-1].driver;
											var location = row.insertCell(4);
											location.innerHTML = result[i-1].location;
											var coordinates = row.insertCell(5);
											coordinates.innerHTML = result[i-1].coordinates;
											var kg = row.insertCell(6);
											kg.innerHTML = result[i-1].kg;
											var route = row.insertCell(7);
											route.innerHTML = result[i-1].route;
											var pass = row.insertCell(8);
											pass.innerHTML = result[i-1].pass;
											var type = row.insertCell(9);
											type.innerHTML = result[i-1].type;
											var material = row.insertCell(10);
											material.innerHTML = result[i-1].material;
											var quality = row.insertCell(11);
											quality.innerHTML = result[i-1].quality;
											var inst = row.insertCell(12);
											inst.innerHTML = result[i-1].INSTAL_C;
											var bin = row.insertCell(13);
											bin.innerHTML = result[i-1].BIN_ID;
                                        }
                                    }else{
                                            window.alert("No entry available")
                                    } 	
                                
                                },
                                error:function(result){
                                    window.alert("No entry available");
                                }
                                
                            }); 
                    }else{
                        window.alert("Fill in all the gaps");
                        
                    }
                    return false;
                });

	</script>

<!--===============================================================================================-->

</body>
<footer>
	<% include ../partials/footerqr %>
  </footer>
</html>
