<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/navigationMenu %>
    
    <% include ../partials/mainFormDept %>
	<% include ../partials/info %>
</div>
	
	<script type="text/javascript">
	</script>
</body>
<footer >
	<% include ../partials/footer %>
  </footer>
</html>
