<!-- <script>
    if (sessionStorage.getItem('AuthenticationState') === null) {
   window.open("AccessDenied.html", "_self");
}
else {
  //The user is authenticated and the authentication has not expired.
}
</script> -->
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta charset="utf-8" />
    <meta name="Generator" content="Xara HTML filter v.9.6.2.48" />
    <meta name="XAR Files" content="images/xr_files.txt" />
    <title>user_list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="images/xr_fonts.css" />
    <script>
      document.documentElement.className = "xr_bgh16";
    </script>
    <link rel="stylesheet" href="images/xr_main.css" />
    <link rel="stylesheet" href="images/custom_styles.css" />
    <link rel="stylesheet" href="images/xr_text.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <script src="images/roe.js"></script>
    <script src="images/prs4.js"></script>
    <link rel="stylesheet" href="images/xr_all.css" id="xr_mvcss" />
    <!--[if lt IE 9
      ]><link rel="stylesheet" href="images/xr_ie.css"
    /><![endif]-->
    <script>
      var xr_multivar = 1;
      xr_ios_ini2();
    </script>
    <script src="images/jquery.js"></script>
    <link rel="stylesheet" href="images/ani.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <script>
    if(!window.localStorage.getItem('token'))
    window.location.href = '/'
    console.log(window.localStorage.getItem('token'))
  function makeRequest( url, method ){
    var jwtToken = localStorage.getItem('token')
    console.log(jwtToken)
    var token = window.localStorage.getItem('token')
            const token2 = JSON.parse(token)
            console.log(token2)
            console.log(`EDW TO TOKEN: ${token2.token}`)
            const lastToken = token2.token
    const headers ={}
      if(lastToken) {
      console.log(`this is the lastToken at findUsers.ejs ${lastToken}`)
        headers['Authorization'] = lastToken
        console.log(method +'findUsers')
      }
      return fetch(url,{
        method: method,
        mode: 'cors',
        headers: headers
      })
  }
  </script>
 
    <body class="xr_bgb15 mb-5" onload="findall()">
      <div class="container xr_bgb15">

      <div class="topnav" id="myTopnav">
        <a class="logo" onclick = "makeRequest('http:\/\/95.216.162.109:443/','GET').then(res => res.text()).then(htmlStr => {
          document.open();
          document.write(htmlStr);
          document.close();
          })"
          ><img src="images/103.jpg" alt="helesi" title=""
        /></a>
        <a onclick = "makeRequest('http:\/\/95.216.162.109:443/adminMenu','GET').then(res => res.text()).then(htmlStr => {
          document.open();
          document.write(htmlStr);
          document.close();
          })" class="button_1" style="color: #ffffff; width:5%">Back</a>
      </div>
      <h1 class="banner">Display Active Users</h1>

      <!-- user table desktop -->
      <div class="table_users">
        <form id="find" class="contact-form"></form>
        <div id="show_table" style="overflow-x: auto; display: none">
          <h2 class="table-header">Search Results</h2>
          <table class="form-table_users" id="table">
            <tr style="background-color: rgb(180, 180, 180)">
              <th>Serial Number</th>
              <th>Username</th>
              <th>Name</th>
              <th>Surname</th>
              <th>Email</th>
              <th>Delete</th>
            </tr>
          </table>
        </div>
        <br /><br />
      </div>
      <a onclick = "makeRequest('http:\/\/95.216.162.109:443/adminMenu','GET').then(res => res.text()).then(htmlStr => {
        document.open();
        document.write(htmlStr);
        document.close();
        })" class="button_1" style="color: #ffffff">Return</a>
    </div>
    <script type="text/javascript">
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }

      var userid;
      function removeUser(item) {
        //  console.log(item.parentElement.parentElement.cells[0].innerText);
        //  console.log(item.parentElement.parentElement.cells[1].innerText);
        //  console.log(item.parentElement.parentElement.cells[2].innerText);
        //  console.log(item.parentElement.parentElement.cells[3].innerText);
        var id = userid;
        var username = item.parentElement.parentElement.cells[1].innerText;
        var name = item.parentElement.parentElement.cells[2].innerText;
        var surname = item.parentElement.parentElement.cells[3].innerText;
        var info =
          "id=" +
          id +
          "&username=" +
          username +
          "&name=" +
          name +
          "&surname=" +
          surname;
        var token = localStorage.getItem("token");
        const token2 = JSON.parse(token)
            console.log(token2)
            console.log(`EDW TO TOKEN: ${token2.token}`)
            const lastToken = token2.token
      
          $.ajax({
          url: "/deleteuser",
          data: info,
          type: "POST",
          dataType: "json",
          headers: {
            'Authorization': lastToken,
          },
          success: function (result) {
            console.log(result);
            if (result === true) {
              findall();
              window.alert("Ο χρηστης " + username + " διαγράφηκε επιτυχώς!");
            } else if (result === false) {
              window.alert("Ο χρηστης " + username + " δεν διαγράφηκε!");
              location.reload();
            } else if (result.responseText === "not exists") {
              window.alert("Ο χρηστης " + username + " δεν υπάρχει!");
              location.reload();
            }
          },
          error: function (result) {
            window.alert("Ο χρηστης " + username + " δεν υπάρχει!");
          },
        });
        return false;
      }
      // document.getElementById("find").addEventListener("click", findall);
      // document.getElementById("finduser").addEventListener("click", function(event){
      // event.preventDefault()
      // findall();
      // });
      function findall() {
        var info = $("#find").serialize();
        var token = localStorage.getItem("token");
        const token2 = JSON.parse(token)
            console.log(token2)
            console.log(`EDW TO TOKEN: ${token2.token}`)
            const lastToken = token2.token
        $.ajax({
          url: "/employees",
          type: "POST",
          data: info,
          dataType: "json",
          headers: {
            Authorization: lastToken,
          },
          success: function (result) {
            if (result != "") {
              // window.alert("success");
              $("#table tr").not(":first").remove();
              $("#table ul").empty();
              document.getElementById("show_table").style.display = "block";
              var counter = 1;
              for (var i = 1; i < $(result).length + 1; i++) {
                var row = table.insertRow(i);
                var id = row.insertCell(0);
                id.setAttribute("style", "text-align:center; padding:5px");
                id.innerHTML = counter++;
                var username = row.insertCell(1);
                username.innerHTML = result[i - 1].username;
                username.setAttribute(
                  "style",
                  "text-align:center; padding:5px"
                );
                var name = row.insertCell(2);
                name.innerHTML = result[i - 1].name;
                name.setAttribute("style", "text-align:center; padding:5px");
                var surname = row.insertCell(3);
                surname.innerHTML = result[i - 1].surname;
                surname.setAttribute("style", "text-align:center; padding:5px");
                var email = row.insertCell(4);
                email.innerHTML = result[i - 1].email;
                email.setAttribute("style", "text-align:center; padding:5px");
                var button = document.createElement("button");
                button.setAttribute("class", " fa fa-trash btn_delete");
                var buttonrow = row.insertCell(5);
                buttonrow.appendChild(button);
                button.onclick = function () {
                  var idcount = this.parentElement.parentElement.cells[0]
                    .innerText;
                  console.log(idcount);
                  userid = result[idcount - 1].id;
                  //console.log(userid);
                  var username = this.parentElement.parentElement.cells[1]
                    .innerText;
                  var r = confirm(
                    "Είστε σίγουρος ότι θέλετε να διαγράψετε τον χρήστη " +
                      username +
                      " ;"
                  );
                  if (r == true) {
                    removeUser(this);
                  } else {
                  }
                };
              }
            } else {
              window.alert("Δεν υπάρχουν χρήστες");
              window.location.reload();
            }
          },
          error: function (result) {
            if ((result.status = 403)) {
              window.alert("Η συνεδρία Έληξε!");
              window.location.href = "/";
            } else {
              window.alert("Δεν υπάρχουν χρήστες");
              window.location.reload();
            }
          },
        });
        return false;
      }
    </script>
  </body>
</html>
