<!DOCTYPE html>
<html lang="de">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
	<meta charset="utf-8" />
	<meta name="Generator" content="Xara HTML filter v.9.6.2.48" />
	<meta name="XAR Files" content="images/xr_files.txt" />
	<title>usermenu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="images/xr_fonts.css" />
	<script>document.documentElement.className="xr_bgh6";</script>
	<link rel="stylesheet" href="images/xr_main.css" />
	<link rel="stylesheet" href="images/custom_styles.css" />
	<link rel="stylesheet" href="images/xr_text.css" />
	<script src="images/roe.js"></script>
	<script src="images/prs4.js"></script>
	<link rel="stylesheet" href="images/xr_all.css" id="xr_mvcss" />
	<!--[if lt IE 9]><link rel="stylesheet" href="index_htm_files/xr_ie.css"/><![endif]-->
	<script> var xr_multivar = 1; xr_ios_ini2();</script>
	<script src="images/jquery.js"></script>
	<link rel="stylesheet" href="images/ani.css" />
	<style>
		@media screen and (min-width: 800px) {
			#xr_xr {
				top: 0px;
			}
		}

		@media screen and (max-width: 799px) {
			#xr_xr {
				top: 0px;
			}
		}
	</style>
</head>
<script>
	if(!window.localStorage.getItem('token'))
	window.location.href = '/'
	console.log(window.localStorage.getItem('token'))
function makeRequest( url, method ){
  var jwtToken = localStorage.getItem('token')
  console.log(jwtToken)
  var token = window.localStorage.getItem('token')
          const token2 = JSON.parse(token)
          console.log(token2)
          console.log(`EDW TO TOKEN: ${token2.token}`)
          const lastToken = token2.token
  const headers ={}
    if(lastToken) {
		console.log(`this is the lastToken at usersMenu.ejs ${lastToken}`)
      headers['Authorization'] = lastToken
      console.log(method +'usersMenu')
    }
    return fetch(url,{
      method: method,
      mode: 'cors',
      headers: headers
    })
}
</script>
<body class="xr_bgb6">
	<div class="xr_ap" id="xr_xrii"
		style="width: 100%; height: 100%; min-width: 1120px; min-height: 780px; top:0%; left:0%; overflow:hidden;">
		<div class="xr_ap" id="xr_bph" style="width: 100%; height: 100%; left: 0px; top: 0px; overflow: hidden;">
			<div class="xr_ar xr_mvp_8 xr_mvpo " style="width: 100%; height: 100%;">
				<div class="xr_pbd">
				</div>
			</div>
		</div>
		<!--[if gte IE 9]><!-->
		<div id="xr_xr" class="xr_noc" style="position:relative; text-align:left; margin:0 auto;"
			onmousedown="xr_mm(event);">
			<!--<![endif]-->
			<!--[if lt IE 9]>
<div class="xr_ap" id="xr_xr" style="width: 1120px; height: 780px; left:50%; margin-left: -560px; text-align: left; top:0px;">
<![endif]-->
			<script>var xr_xr = document.getElementById("xr_xr"); xr_rxc();</script>
			<div id="xr_td" class="xr_td">
				<div id="xr_mvp_7" class="xr_mvp_7 xr_bgn_6_0_0" style="position:absolute; width:1120px; height:780px;">
					<div class="xr_ap xr_pp">
						<span class="xr_ar"
							style="left:0px;top:0px;width:1120px;height:780px; background-color: #FFFFFF;"></span>
					</div>
					<div id="xr_xrc7" class="xr_ap xr_xri_ xr_xrc"
						style="width: 1120px; height: 780px; overflow:hidden;">
						<div class="xr_group">
							<a href="http:\/\/95.216.162.109:443" onclick="return(xr_nn());">
								<img class="xr_rn_ xr_ap" src="images/103.jpg" alt="" title=""
									onmousemove="xr_mo(this,36,event)"
									style="left:18px;top:10px;width:234px;height:70px;" />
							</a>
						</div>
						<div class="xr_txt Heading_1 Heading_2 xr_s6"
							style="position: absolute; left:559px; top:252px; width:226px; height:10px;">
							<h3 class="xr_tc Heading_1 Heading_2 xr_s6"
								style="left: -125.43px; top: -25.65px; width: 251px;margin:0;">Select Report</h3>
						</div>
						<div class="xr_txt Heading_1 Heading_3 xr_s7"
							style="position: absolute; left:1059px; top:49px; width:40px; height:10px;">
							<h3 class="xr_tr Heading_1 Heading_3 xr_s7"
						
								style="left: -43.74px; top: -17.83px; width: 44px;margin:0;"><a href="http:\/\/95.216.162.109:443"
									target="_parent" onclick="return(xr_nn());" onmousemove="xr_mo(this,36)"><span
										class="button_1" style="font-size: 20px;">Log Out</span></a></h3>
									
						</div>
						<div class="xr_trigo_xr_ce11"
							style="position:absolute;left:333px;top:761px;width:229px;height:14px;z-index:-1;"></div>
						<div class="xr_ap xr_ac" id="xr_xpxr_286"
							style="left:0; top:0; visibility: hidden; display: none;">
							<div class="xr_txt Normal_text Heading_4 xr_s2"
								style="position: absolute; left:333px; top:761px; width:229px; height:10px;">
								<span class="xr_tc Normal_text Heading_4 xr_s2"
									style="left: 100.32px; top: -14.96px; width: 256px;"><a href="https://aratos.net"
										target="_blank" onclick="return(xr_nn());" onmousemove="xr_mo(this,36)"><span
											class="Normal_text Heading_4 xr_s2" >Copyright © Aratos.net 2020-2021</span></a></span>
						</div>
						</div>
						<!-- waste -->
						<a id ='waste_ref' target="_self" onclick="makeRequest(`http:\/\/95.216.162.109:443/waste`,'GET').then(res => res.text()).then(htmlStr => {
							document.open();
							document.write(htmlStr);
							document.close();
						  });">
							<img class="xr_rn_ xr_rnsp_ xr_ap" src="images/206.png" alt="Station Report"
								title="" onmousemove="xr_mo(this,36,event)"
								style="left:310px;top:300px;width:500px;height:60px;" />
							<img class="xr_rn_ xr_rnsp_ xr_ap xr_ro xr_ro0 xr_tt0" src="images/208.png"
								alt="Station Report" title="" onmousemove="xr_mo(this,36)"
								style="left:310px;top:300px;width:500px;height:60px;" />
						</a>
						
						<!-- routes -->
						<a  id ='routes_ref' target="_self" onclick="makeRequest('http:\/\/95.216.162.109:443/routes','GET').then(res => res.text()).then(htmlStr => {
							document.open();
							document.write(htmlStr);
							document.close();
						  })">
							<img class="xr_rn_ xr_rnsp_ xr_ap" src="images/207.png" alt="Route Reports"
								title="" onmousemove="xr_mo(this,36,event)"
								style="left:310px;top:400px;width:500px;height:60px;" />
							<img class="xr_rn_ xr_rnsp_ xr_ap xr_ro xr_ro0 xr_tt0" src="images/209.png"
								alt="Routes Report" title="" onmousemove="xr_mo(this,36)"
								style="left:310px;top:400px;width:500px;height:60px;" />
						</a>
						<img class="xr_rn_ xr_ap" src="images/151.jpg" alt="" title=""
							style="left:414px;top:500px;width:292px;height:219px;" />
						<div id="xr_xo36" class="xr_ap"
							style="left:0; top:0; width:1120px; height:100px; visibility:hidden; z-index:3;">
							<a href="" onclick="return(false);" onmousedown="xr_ppir(this);">
							</a>
						</div>
						<div id="xr_xd36"></div>
					</div>
				</div>
				<div id="xr_mvp_8" class="xr_mvp_8 xr_bgn_7_0_0 xr_mvpo"
					style="position:absolute; width:480px; height:740px;">
					<div class="xr_ap xr_pp">
						<span class="xr_ar"
							style="left:0px;top:0px;width:480px;height:740px; background-color: #FFFFFF;"></span>
					</div>
					<div id="xr_xrc8" class="xr_ap xr_xri_ xr_xrc"
						style="width: 480px; height: 740px; overflow:hidden;">
						<div class="xr_group">
							<a href="/" onclick="return(xr_nn());">
								<img class="xr_rn_ xr_ap" src="images/103.jpg" alt="" title=""
									onmousemove="xr_mo(this,42,event)"
									style="left:18px;top:10px;width:234px;height:70px;" />
							</a>
						</div>
						<div class="xr_txt Heading_1 Heading_2 xr_s6"
							style="position: absolute; left:239px; top:194px; width:226px; height:10px;">
							<h3 class="xr_tc Heading_1 Heading_2 xr_s6"
								style="left: -125.43px; top: -25.65px; width: 251px;margin:0;">Select Report</h3>
						</div>
						<!-- return home -->
						<div class="xr_txt Heading_1 Heading_3 xr_s7"
							style="position: absolute; left:463px; top:55px; width:40px; height:10px;">
							<h3 class="xr_tr Heading_1 Heading_3 xr_s7"
								style="left: -43.74px; top: -12.83px; width: 44px;margin:0;"><a href="/"
									target="_parent" onclick="return(xr_nn());" onmousemove="xr_mo(this,42)"><span
										class="Heading_1 Heading_3 xr_s7" >Exit</span></a></h3>
						</div>
						<div class="xr_trigo_xr_ce12"
							style="position:absolute;left:13px;top:711px;width:229px;height:14px;z-index:-1;"></div>
						<div class="xr_ap xr_ac" id="xr_xpxr_297"
							style="left:0; top:0; visibility: hidden; display: none;">
							<div class="xr_txt Normal_text Heading_4 xr_s2"
								style="position: absolute; left:13px; top:711px; width:229px; height:10px;">
								<span class="xr_tc Normal_text Heading_4 xr_s2"
									style="left: 100.32px; top: -14.96px; width: 256px;"><a href="https://aratos.net"
										target="_blank" onclick="return(xr_nn());" onmousemove="xr_mo(this,42)"><span
											class="Normal_text Heading_4 xr_s2" >Copyright © Aratos.net 2020-2021</span></a></span>
							</div>
						</div>
						<!-- waste mobile -->
						<a target="_self"onclick="makeRequest(`http:\/\/95.216.162.109:443/waste`,'GET').then(res => res.text()).then(htmlStr => {
							document.open();
							document.write(htmlStr);
							document.close();
						  return(xr_nn())});">
							<img class="xr_rn_ xr_rnsp_ xr_ap" src="images/210.png" alt="Station Report"
								 onmousemove="xr_mo(this,42,event)"
								style="left:15px;top:250px;width:450px;height:60px;" />
							<img class="xr_rn_ xr_rnsp_ xr_ap xr_ro xr_ro0 xr_tt0" src="images/212.png"
								alt="Station Report"  onmousemove="xr_mo(this,42)"
								style="left:15px;top:250px;width:450px;height:60px;" />
						</a>
						<!-- routes mobile -->
						<a onclick="makeRequest(`http:\/\/95.216.162.109:443/routes`,'GET').then(res => res.text()).then(htmlStr => {
							document.open();
							document.write(htmlStr);
							document.close();
						  return(xr_nn())});">
							<img class="xr_rn_ xr_rnsp_ xr_ap" src="images/211.png" alt="Route Report"
								title="" onmousemove="xr_mo(this,42,event)"
								style="left:15px;top:350px;width:450px;height:60px;" />
							<img class="xr_rn_ xr_rnsp_ xr_ap xr_ro xr_ro0 xr_tt0" src="images/213.png"
								alt="Station Reports" title="" onmousemove="xr_mo(this,42)"
								style="left:15px;top:350px;width:450px;height:60px;" />
						</a>
						<img class="xr_rn_ xr_ap" src="images/151.jpg" alt="" title=""
							style="left:94px;top:450px;width:292px;height:219px;" />
						<div id="xr_xo42" class="xr_ap"
							style="left:0; top:0; width:480px; height:100px; visibility:hidden; z-index:3;">
							<a href="" onclick="return(false);" onmousedown="xr_ppir(this);">
							</a>
						</div>
						<div id="xr_xd42"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--[if lt IE 7]><script src="index_htm_files/png.js"></script><![endif]-->
	<!--[if IE]><script>xr_aeh()</script><![endif]-->
	<!--[if !IE]>-->
	<script>xr_htm(); repMobFonts(); window.addEventListener('load', xr_aeh, false);</script>
	<!--<![endif]-->
</body>

</html>